.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    gap: 30px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.div1,
.div22 {
    grid-column: 1 / -1;
}
